@media screen and (prefers-color-scheme: dark) {
	/* LAYOUT */
	html {
		--light-blue: var(--light-blue-on-dark);
		--red:        var(--red-on-dark);
	}

	body {
		color: var(--white);
		background: var(--dark-blue);
	}

	.card {
		--card-bg: var(--blue);
		color: var(--white);
	}

	a {
		color: var(--white);
	}

	p,
	label, .label {
		color: rgba(255, 255, 255, 0.7);
	}

	small,
	p.s {
		color: var(--white);
	}


	/* BUTTONS */
	/* Global */
	button.red:hover:not([disabled]) {
		background: #D94432; /* Original Red */
	}

	/* Normal */
	button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s):not(:disabled) {
		color: var(--blue) !important;
		background: var(--gray) !important;
	}

	button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s):not([disabled]):hover {
		background: #E7E7E7 !important;
	}

	/* Secondary */
	button.s {
		color: var(--white);
		background: rgba(255, 255, 255, 0.15);
	}

	button.s:hover:not(:disabled) {
		background: rgba(255, 255, 255, 0.20);
	}

	/* Big */
	button.big:disabled, button.big:disabled:hover {
		background: rgba(255, 255, 255, 0.2) !important;
		color: rgba(255, 255, 255, 0.5) !important;
	}


	/* INPUTS */
	input,
	input.s,
	select,
	select.s,
	textarea {
		--border-color: rgba(255, 255, 255, 0.2);
		color: var(--white);
	}

	input.vanishing,
	input.s.vanishing,
	textarea.vanishing {
		--border-color: rgba(255, 255, 255, 0);
	}

	input::placeholder,
	input.s::placeholder,
	textarea::placeholder {
		color: rgba(255, 255, 255, 0.3) !important;
	}

	input:hover,
	input:focus,
	input.s:hover,
	input.s:focus,
	input.s.vanishing:hover,
	input.s.vanishing:focus,
	textarea:hover,
	textarea:focus,
	textarea.vanishing:hover,
	textarea.vanishing:focus,
	select:hover,
	select:focus,
	select.s:hover,
	select.s:focus {
		--border-color: rgba(255, 255, 255, 0.3);
		color: var(--white);
	}

	/* THEME */
	.blue {
		--blue: var(--white);
	}
}
