/* Primary */
button.light-blue, button.gold, button.green, button.orange, button.red {
	color: var(--white);
}

button.light-blue {
	background: var(--light-blue-bg);
}

button.light-blue:hover {
	background: var(--light-blue-bg-darkened);
}

button.gold {
	background: var(--gold);
}

button.gold:hover {
	background: var(--gold-darkened);
}

button.green {
	background: var(--green);
}

button.green:hover {
	background: var(--green-darkened);
}

button.orange {
	background: var(--orange);
}

button.orange:hover {
	background: var(--orange-darkened);
}

button.red {
	background: var(--red);
}

button.red:hover {
	background: var(--red-darkened);
}

/* Secondary */
button.s.light-blue {
	color: var(--light-blue);
	background: var(--light-blue-trans);
}

button.s.light-blue:hover:not([disabled]) {
	background: var(--light-blue-trans-dark);
}

button.s.gold {
	color: var(--gold);
	background: var(--gold-trans);
}

button.s.gold:hover:not([disabled]) {
	background: var(--gold-trans-dark);
}

button.s.green {
	color: var(--green);
	background: var(--green-trans);
}

button.s.green:hover:not([disabled]) {
	background: var(--green-trans-dark);
}

button.s.orange {
	color: var(--orange);
	background: var(--orange-trans);
}

button.s.orange:hover:not([disabled]) {
	background: var(--orange-trans-dark);
}

button.s.red {
	color: var(--red);
	background: var(--red-trans);
}

button.s.red:hover:not([disabled]) {
	background: var(--red-trans-dark);
}
