button.big {
	display: block;
	font-size: 2rem;
	line-height: 2.5rem;
	height: 7.5rem;
	padding: 0 4rem;
	color: var(--white);
	background: var(--blue-bg);
	text-transform: uppercase;
	letter-spacing: 0.094em;
	min-width: 25rem;
	margin: 2rem auto;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
	transition: transform 450ms var(--ease), box-shadow 450ms var(--ease);
	will-change: box-shadow;
	text-align: center;
}

button.big:hover,
button.big:focus {
	box-shadow: 0 1rem 2.5rem rgba(0,0,0,0.2);
	transform: translate3D(0,-2px,0);
}

button.big:active {
	outline: none;
	box-shadow: 0 .2rem .3rem rgba(0,0,0,0.2);
	transform: translate3D(0,1px,0);
	transition: transform 200ms cubic-bezier(.41,.34,.26,1.55), box-shadow 200ms cubic-bezier(.41,.34,.26,1.55) !important;
}

button.big[disabled] {
	background: rgba(31, 35, 72, 0.07);
	color: rgba(31, 35, 72, 0.3);
	box-shadow: none;
	transform: none;
	cursor: not-allowed;
}

button.big[disabled]:hover {
	background: rgba(31, 35, 72, 0.07) !important;
	color: rgba(31, 35, 72, 0.3) !important;
}

button.big.inverse[disabled], button.big.inverse[disabled]:hover {
	background: rgba(255, 255, 255, 0.2) !important;
	color: rgba(255, 255, 255, 0.5) !important;
}
