/* Shared style between buttons */
button {
	position: relative;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-weight: bold;
	border-radius: 5rem;
}

/* SMALL BUTTONS */
button:not(.big) {
	display: inline-block;
	font-size: 1.75rem;
	line-height: 3.375rem;
	height: 3.375rem;
	padding: 0 1.5rem;
	color: var(--blue);
	/* FIXME: Transition not working... */
	transition: color 300ms var(--ease), background 300ms var(--ease);
	will-change: color, background;
}

/* Button without color */
button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s):not([disabled]) {
	color: var(--white);
	background: var(--blue-bg);
}

button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s):not([disabled]):hover {
	background: var(--blue-bg-darkened);
}

/* Disabled buttons */
button:not(.big)[disabled] {
	opacity: 0.4;
	cursor: not-allowed;
}

/* Secondary */
@media screen and (prefers-color-scheme: light) {
	button.s {
		color: var(--blue);
		background: var(--blue-trans);
	}

	button.s:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not([disabled]):hover {
		color: var(--blue-darkened);
		background: var(--blue-trans-dark);
	}
}

/* INVERSE */
button.inverse {
	background: var(--light-gray) !important;
	color: var(--blue);
}

button.inverse:not([disabled]):hover {
	background: #E7E7E7 !important;
}

button.light-blue.inverse {
	color: var(--light-blue);
}

button.gold.inverse {
	color: var(--gold);
}

button.green.inverse {
	color: var(--green);
}

button.orange.inverse {
	color: var(--orange);
}

button.red.inverse {
	color: var(--red);
}

/* Secondary */
button.s.inverse {
	background: rgba(255, 255, 255, 0.15) !important;
	color: var(--white);
}

button.s.inverse:not([disabled]):hover {
	background: rgba(255, 255, 255, 0.20) !important;
}
