abbr {
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: from-font;
}

code {
	white-space: pre;
	font-family: var(--monospace);
	font-size: 2rem;
}

kbd {
	font-family: inherit;
	border: 1px solid var(--gray);
	background-image: var(--blue-bg);
	color: var(--white);
	border-radius: 3px;
	display: inline-block;
	font-size: 2rem;
	line-height: 1.5;
	margin: 0 .1em;
	padding: .1em .6em;
}

mark {
	background-color: var(--gold);
	color: var(--white);
}
