html,
body {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	min-width: 300px;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* Utility */

.flex-grow {
	flex-grow: 1;
}

.flex-grow-half {
	flex-grow: 0.5;
}

.flex-grow-double {
	flex-grow: 2;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none !important;
}


/* Components */
/* Bis 768px */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: .5em;
}

/* Bis 768px - 1400px */
@media screen and (min-width: 769px) {
	.cards {
		gap: 1em;
	}

	.card-header, .card-body {
		padding: 3rem;
	}
}

/* Bis 1400px - 2000px */
@media screen and (min-width: 1401px) {
	.cards {
		gap: 1.5em;
	}

	.card-header, .card-body {
		padding: 4rem;
	}
}

/* Über > 2000px */
@media screen and (min-width: 2001px) {
	.cards {
		grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
		gap: 2em;
	}
}

.card {
	background: var(--card-bg);
	color: var(--blue);
	border-radius: 1.25rem;
	box-shadow: 0 0.5rem 3.5rem rgba(0, 0, 0, 0.111158);
}

.card-header {
	padding: 2rem;
	text-align: center;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.card-header .h1,
.card-header .h2 {
	margin: 0;
}

.card-header .notice {
	margin: 3rem 0 0;
	text-align: center;
}

.card-body {
	padding: 2rem;
}

.card-header + .card-body {
	padding-top: 1rem;
}

.card-body > *:first-child {
	margin-top: 0;
}

.card-body > *:last-child {
	margin-bottom: 0;
}

.card-footer {
	padding: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.card-body + .card-footer {
	padding-top: 0;
}


/* Spacing */

.mt-5 {
	margin-top: 5rem;
}

.mt-4 {
	margin-top: 4rem;
}

.mt-3 {
	margin-top: 3rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-1 {
	margin-top: 1rem;
}

/* Shadow */

.shadow {
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
}

.shadow-l {
	box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.15);
}
