.spinner {
	animation: circle-spinner-spin 1s linear infinite;
	vertical-align: text-bottom;
}

@keyframes circle-spinner-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
