html {
	/* Fonts */
	--sans-serif: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--monospace: 'Fira Mono', 'Courier New', Courier, monospace;

	/* Main color palette */
	--dark-blue:  #12142b; /* rgb(18, 20, 43) */
	--blue:       #1F2348; /* rgb(31, 35, 72) */
	--light-blue: #0582CA; /* rgb(5, 130, 202) */
	--gold:       #E9B213; /* rgb(233, 178, 19) */
	--green:      #21BCA5; /* rgb(33, 188, 165) */
	--orange:     #FC8702; /* rgb(252, 135, 2) */
	--red:        #D94432; /* rgb(216, 65, 51) */
	--purple:     #5F4B8B; /* rgb(95, 75, 139) */
	--pink:       #FA7268; /* rgb(250, 114, 104) */
	--light-green:#88B04B; /* rgb(136, 176, 75) */
	--brown:      #795548; /* rgb(121, 85, 72) */
	--gray:       #F4F4F4;
	--light-gray: #FAFAFA;
	--white:      #FFFFFF;

	/* Transparent */
	--blue-trans: rgba(31, 35, 72, 0.07);             /* FIXME: done by me */
	--blue-trans-dark: rgba(31, 35, 72, 0.12);        /* FIXME: done by me */
	--light-blue-trans: rgb(5, 130, 202, 0.1);        /* FIXME: done by me */
	--light-blue-trans-dark: rgb(5, 130, 202, 0.2);   /* FIXME: done by me */
	--gold-trans: rgb(233, 178, 19, 0.1);             /* FIXME: done by me */
	--gold-trans-dark: rgb(233, 178, 19, 0.2);        /* FIXME: done by me */
	--green-trans: rgb(33, 188, 165, 0.1);            /* FIXME: done by me */
	--green-trans-dark: rgb(33, 188, 165, 0.2);       /* FIXME: done by me */
	--orange-trans: rgb(252, 135, 2, 0.1);            /* FIXME: done by me */
	--orange-trans-dark: rgb(252, 135, 2, 0.2);       /* FIXME: done by me */
	--red-trans: rgb(216, 65, 51, 0.1);               /* FIXME: done by me */
	--red-trans-dark: rgb(216, 65, 51, 0.2);          /* FIXME: done by me */

	/* color palette adaptions on dark background */
	--light-blue-on-dark: #0CA6FE; /* rgb(12, 166, 254) */
	--red-on-dark:        #FF5C48; /* rgb(255, 92, 72) */

	/* main colors darkened (hover states) */
	--blue-darkened:       #151833; /* rgb(21, 24, 51) */
	--light-blue-darkened: #0071C3; /* rgb(0, 113, 195) */
	--gold-darkened:       #E5A212; /* rgb(229, 162, 18) */
	--green-darkened:      #20B29E; /* rgb(32, 178, 158) */
	--orange-darkened:     #FC7500; /* rgb(252, 117, 0) */
	--red-darkened:        #D13030; /* rgb(209, 48, 48) */
	/* Background gradients */
	--dark-blue-bg:  radial-gradient(100% 100% at bottom right, #1b0025, var(--dark-blue)); /* FIXME: done by me */
	--light-bg:      radial-gradient(100% 100% at bottom right, var(--gray), var(--white)); /* FIXME: done by me */

	--blue-bg:       radial-gradient(100% 100% at bottom right, #260133, var(--blue));
	--light-blue-bg: radial-gradient(100% 100% at bottom right, #265DD7, var(--light-blue));
	--gold-bg:       radial-gradient(100% 100% at bottom right, #EC991C, var(--gold));
	--green-bg:      radial-gradient(100% 100% at bottom right, #41A38E, var(--green));
	--orange-bg:     radial-gradient(100% 100% at bottom right, #FD6216, var(--orange));
	--red-bg:        radial-gradient(100% 100% at bottom right, #CC3047, var(--red));
	--purple-bg:     radial-gradient(100% 100% at bottom right, #4D4C96, var(--purple));
	--pink-bg:       radial-gradient(100% 100% at bottom right, #E0516B, var(--pink));
	--light-green-bg:radial-gradient(100% 100% at bottom right, #70B069, var(--light-green));
	--brown-bg:      radial-gradient(100% 100% at bottom right, #724147, var(--brown));

	/* Background gradients darkened (hover states) */
	--blue-bg-darkened:       radial-gradient(100% 100% at bottom right, #180021, var(--blue-darkened));
	--light-blue-bg-darkened: radial-gradient(100% 100% at bottom right, #2355C4, var(--light-blue-darkened));
	--gold-bg-darkened:       radial-gradient(100% 100% at bottom right, #E58A1B, var(--gold-darkened));
	--green-bg-darkened:      radial-gradient(100% 100% at bottom right, #3D9988, var(--green-darkened));
	--orange-bg-darkened:     radial-gradient(100% 100% at bottom right, #EA5200, var(--orange-darkened));
	--red-bg-darkened:        radial-gradient(100% 100% at bottom right, #BF2D46, var(--red-darkened));

	/* Special colors */
	--highlight-bg: rgba(31, 35, 72, 0.06); /* Based on Blue */
	--card-bg: var(--white);
}

body {
	color: var(--blue);
	background: var(--gray);
	margin: 0;
}

.blue:not(button) {
	color: var(--blue) !important;
}

.light-blue:not(button) {
	color: var(--light-blue) !important;
}

.gold:not(button) {
	color: var(--gold) !important;
}

.green:not(button) {
	color: var(--green) !important;
}

.orange:not(button) {
	color: var(--orange) !important;
}

.red:not(button) {
	color: var(--red) !important;
}

.purple:not(button) {
	color: var(--purple) !important;
}

.pink:not(button) {
	color: var(--pink) !important;
}

.light-green:not(button) {
	color: var(--light-green) !important;
}

.brown:not(button) {
	color: var(--brown) !important;
}

.blue-bg {
	background: var(--blue);
	background-image: var(--blue-bg);
}

.light-blue-bg {
	background: var(--light-blue);
	background-image: var(--light-blue-bg);
}

.gold-bg {
	background: var(--gold);
	background-image: var(--gold-bg);
}

.green-bg {
	background: var(--green);
	background-image: var(--green-bg);
}

.orange-bg {
	background: var(--orange);
	background-image: var(--orange-bg);
}

.red-bg {
	background: var(--red);
	background-image: var(--red-bg);
}

.purple-bg {
	background: var(--purple);
	background-image: var(--purple-bg);
}

.pink-bg {
	background: var(--pink);
	background-image: var(--pink-bg);
}

.light-green-bg {
	background: var(--light-green);
	background-image: var(--light-green-bg);
}

.brown-bg {
	background: var(--brown);
	background-image: var(--brown-bg);
}

.gray-bg {
	background: var(--gray);
}
